<!DOCTYPE html>
<html>
  <head>
    <title>FCC Project - Nasdaq Stock Price Checker</title>
    <meta name="description" content="FCC Project - Nasdaq Stock Price Checker">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  
  
  <body>
    <header><center><h1>
        ISQA_5 FCC Project - Nasdaq Stock Price Checker
    </h1></center></header>
    
    <div id="testui">
      <h2 style="text-align: left">Front-End:</h2>
      
      <h3>Get single price and total likes</h3>
      <form id="testForm2" class="border">
        <input type="text" name="stock1" placeholder="goog" style="width: 100px" required="">
        <input type="checkbox" name="like1" value="true"> Like?<br>
        <button type="submit">Get Price!</button>
      </form>
      
      <h3>Compare and get relative likes</h3>
      <form id="testForm" class="border">
        <input type="text" name="stock1" placeholder="goog" style="width: 100px" required="">
        <input type="text" name="stock2" placeholder="msft" style="width: 100px" required="">
        <input type="checkbox" name="like2" value="true"> Like both?<br>
        <button type="submit">Compare Now!</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    <hr>
   
    
    <script>
      document.getElementById('testForm2').addEventListener('submit', (e) => {
        e.preventDefault();
        console.log(e.target[0].value);
        console.log(e.target[1].checked);
        
        const stock = e.target[0].value;
        const like = e.target[1].checked;
        
        fetch(`/api/stock-prices?stock=${stock}&like=${like}`)
        .then( res=>res.json())
        .then( data => {
          console.log(JSON.stringify(data));
          document.getElementById('jsonResult').innerText = JSON.stringify(data);
        })
        
      }); 
      
      document.getElementById('testForm').addEventListener('submit', (e) => {
        e.preventDefault();
        
        console.log(e.target[0].value);
        console.log(e.target[1].value);
        console.log(e.target[2].checked);
        
        const stock1 = e.target[0].value;
        const stock2 = e.target[1].value
        const like = e.target[2].checked;
        
        fetch(`/api/stock-prices?stock=${stock1}&stock=${stock2}&like=${like}`)
        .then( res=>res.json())
        .then( data => {
          console.log("in html" + JSON.stringify(data));
          document.getElementById('jsonResult').innerText = JSON.stringify(data);
        })
        
        
      }); 
   </script>
  </body>
</html>

